.products-title-container {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
    background-color: var(--color-bg-surface);
}

.links-title {
    font-size: var(--font-size-xlg);
}

.links-text {
    font-size: var(--font-size-lg);
}

.products-disclaimer-container {
    background-color: var(--color-bg-secondary);
    border-radius: var(--btn-rounded-borders-primary);
    box-shadow: var(--shadow-soft);
    padding: 0.5rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    justify-self: center;
}

.profile-img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    flex: 1 1 1;
}

.disclaimer-texts-container {
    padding: 0 0.5rem;
}

.disclaimer-text {
    color: var(--color-white);
    font-size: var(--font-size-md);
    margin-bottom: 1rem;
}

.disclaimer-signature {
    color: var(--color-accent);
    font-size: var(--font-size-xlg);
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: var(--btn-rounded-borders-primary);
    padding: 0.3rem;
    box-shadow: var(--shadow-soft);
}

.card-image {
    max-height: 50%;
}

.card-title {
    font-size: var(--font-size-lg);
}

.card-description {
    font-size: var(--font-size-md);
}

.card-tag {
    color: var(--color-primary);
    border: var(--tags-border);
    border-radius: var(--border-pill);
    padding: 0.2rem 0.5rem;
    font-size: var(--font-size-sm);
}

.card-link {
    background-color: var(--color-bg-secondary);
    color: var(--color-white);
    padding: 0.4rem 0.6rem;
    border-radius: var(--btn-rounded-borders-primary);
    width: 85%;
    transition: var(--transition-default);
}

.card-link:hover {
    cursor: pointer;
    background-color: var(--color-primary-hover);
}