.cta-button {
    border: var(--btn-border-primary);
    border-radius: var(--btn-rounded-borders-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--btn-padding);
    cursor: pointer;
    transition: var(--transition-default);
}

.cta-button:hover {
    background-color: var(--color-primary-hover);
}