.cta-button {
    border: 2px solid var(--color-border);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition-default);
}

.cta-button:hover {
    background-color: var(--color-primary-hover);
}